<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
	<button class="dl-trigger">Open Menu</button>
	<ul class="dl-menu">
		<li><a href="{{ site.url }}">Home</a></li>
		<!-- <li><a href="{{ site.url }}/working_source/">working_source</a></li> -->
		<li>
			<a href="#">About</a>
			<ul class="dl-submenu">
				<li>
					<img src="{{ site.url }}/images/{{ site.owner.avatar }}" alt="{{ site.owner.name }} photo" class="author-photo">
					<h4>{{ site.owner.name }}</h4>
					<p>{{ site.owner.bio }}</p>
				</li>
				<li><a href="{{ site.url }}/about/">Learn More</a></li>
				{% if site.owner.stackexchange %}<li>
					<a href="{{ site.owner.stackexchange }}"><i class="fa fa-stack-exchange"></i> Stackexchange</a>
				</li>{% endif %}
				{% if site.owner.instagram %}<li>
					<a href="http://instagram.com/{{ site.owner.instagram }}"><i class="fa fa-instagram"></i> Instagram</a>
				</li>{% endif %}
				{% if site.owner.flickr %}<li>
					<a href="http://www.flickr.com/photos/{{ site.owner.flickr }}"><i class="fa fa-flickr"></i> Flickr</a>
				</li>{% endif %}
				{% if site.owner.tumblr %}<li>
					<a href="http://{{ site.owner.tumblr }}.tumblr.com"><i class="fa fa-tumblr"></i> Tumblr</a>
				</li>{% endif %}
			</ul><!-- /.dl-submenu -->
		</li>
		<li>
			<a href="#">Self-Improvement</a>
			<ul class="dl-submenu">
				<li><a href="{{ site.url }}/study/">Learn How to Learn</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Python</a>
			<ul class="dl-submenu">
				<li><a href="{{ site.url }}/python_intro/">Python 학습 개요</a></li>
				<li><a href="{{ site.url }}/tip/">Python 학습 Tip</a></li>
				<li><a href="{{ site.url }}/lecture_1/">수치 자료형과 연산자</a></li>
				<li><a href="{{ site.url }}/lecture_2/">문자열</a></li>
				<li><a href="{{ site.url }}/lecture_3/">리스트</a></li>
			</ul>
		</li>
		<li>
			<a href="#">특강</a>
			<ul class="dl-submenu">
				<li><a href="{{ site.url }}/web_1/">웹특강_HTML5&Javascript</a></li>
			</ul>
		</li>
		<li>
			<a href="#">오픈소스</a>
			<ul class="dl-submenu">
				<li><a href="{{ site.url }}/special_lec1/">삼성전자_오픈소스의 이해와 활용</a></li>

			</ul>
		</li>
		<li>
			<a href="#">보안</a>
			<ul class="dl-submenu">
				<li><a href="{{ site.url }}/secure_webshell/">Web_Shell</a></li>

			</ul>
		</li>
		{% for link in site.links %}<li>{% if link.external %}<a href="{{ link.url }}" target="_blank">{{ link.title }}</a>{% else %}<a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>{% endif %}</li>{% endfor %}
	</ul><!-- /.dl-menu -->
</nav><!-- /.dl-menuwrapper -->
