







@keyframes opacity {
  0% {
   opacity: 0.75;
   background-color:#f4c0ff;
 }
  25% {
    opacity:0.50;
    background-color:#cbffc0;
  }
  50% {
    opacity:0.25;
    background-color:#ffd5c0;
  }
  75% {
    opacity:0.1;
    background-color:#c0fff4;
  }
  100% {
    opacity:1;
    background-color:#ff748c;
  }
}
@-webkit-keyframes opacity {
  0% {
   opacity: 0.75;
   background-color:#f4c0ff;
 }
  25% {
    opacity:0.50;
    background-color:#cbffc0;
  }
  50% {
    opacity:0.25;
    background-color:#ffd5c0;
  }
  75% {
    opacity:0.1;
    background-color:#c0fff4;
  }
  100% {
    opacity:1;
    background-color:#ff748c;
  }
}
.opacity {
  -webkit-animation:opacity 5s linear 2s infinite alternate;
  animation:opacity 5s linear 2s infinite alternate-reverse;
  background: #ff748c;
  border-radius: 100%;
  padding: 10px;
  margin: 5px;
}
